.header__menu-dropup {
  display: none;
}

.header__menu-dropup_opened {
  margin: 0 auto;
  padding: 40px 0;
  width: calc(100% - 150px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}