.authorization__input {
  width: 100%;
  height: 27.5px;
  padding: 0;
  border:none;
  background-color: transparent;
  border-bottom: 2px solid #cccccc;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.21;
}

.authorization__input::placeholder {
  color: #cccccc;
}

@media (max-width: 515px) {
  .authorization__input {
    height: 24px;
    font-size: 12px;
    line-height: 1.25;
  }
}